In [7]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'Name':['Abi','Charles','Darwin','Abi','Charles','Darwin'],'category':['A','B','C','A','B','C'],'value':np.random.randint(1,5,size=6),'score':np.random.randint(60,100,size=6)})
print("\n orginal DataFrame\n",df)

 orginal DataFrame
       Name category  value  score
0      Abi        A      2     82
1  Charles        B      2     89
2   Darwin        C      4     60
3      Abi        A      4     70
4  Charles        B      2     64
5   Darwin        C      2     83

In [9]:

df1 = df.groupby(['Name'], as_index=False)['value'].sum()
print("\n Original dataframe\n", df)
print("\n Grouped dataframe with one column sum\n", df1)

 Original dataframe
       Name category  value  score
0      Abi        A      2     82
1  Charles        B      2     89
2   Darwin        C      4     60
3      Abi        A      4     70
4  Charles        B      2     64
5   Darwin        C      2     83

 Grouped dataframe with one column sum
       Name  value
0      Abi      6
1  Charles      4
2   Darwin      6

In [13]:
df2 = df.groupby(['Name'], as_index=False)[['value','score']].sum()

print("\nGrouped and aggregate with two column 'sum' :\n", df2)

Grouped and aggregate with two column 'sum' :
       Name  value  score
0      Abi      6    152
1  Charles      4    153
2   Darwin      6    143

In [15]:
df3= df.groupby(['Name'], as_df3index=False)['value'].agg('sum')
print("\nGrouped and aggregate with one column :\n", df3)

Grouped and aggregate with one column :
       Name  value
0      Abi      6
1  Charles      4
2   Darwin      6

In [16]:
df4=df.groupby("Name").agg({"value":["sum","mean","min","max"],"score":["sum","mean"]})
print("\group by Name and multiple aggregation:\n", df4)

\group by Name and multiple aggregation:
         value              score
          sum mean min max   sum  mean
Name
Abi         6  3.0   2   4   152  76.0
Charles     4  2.0   2   2   153  76.5
Darwin      6  3.0   2   4   143  71.5

In [25]:
df5= df.groupby(['Name'], as_index=False)['value'].count()
print("\nGrouped and count \n",df5)

Grouped and count
       Name  value
0      Abi      2
1  Charles      2
2   Darwin      2

In [26]:
df6= df.groupby(['Name']).count()
print("\nGrouped and count \n",df6)

Grouped and count
          category  value  score
Name
Abi             2      2      2
Charles         2      2      2
Darwin          2      2      2

In [28]:
df7=df.groupby(('Name'),as_index=False)['value'].first()
print("\n Group and display from first: \n",df7)
df8=df.groupby(('Name')).first()
print("\n Group and display from first: \n",df8)

 Group and display from first:
       Name  value
0      Abi      2
1  Charles      2
2   Darwin      4

 Group and display from first:
         category  value  score
Name
Abi            A      2     82
Charles        B      2     89
Darwin         C      4     60

In [29]:
df9=df.groupby(('Name'),as_index=False)['value'].last()
print("\n Group and display from last: \n",df9)
df10=df.groupby(('Name')).last()
print("\n Group and display from last: \n",df10)

 Group and display from last:
       Name  value
0      Abi      4
1  Charles      2
2   Darwin      2

 Group and display from last:
         category  value  score
Name
Abi            A      4     70
Charles        B      2     64
Darwin         C      2     83

In [30]:
df11=df.groupby(('Name'),as_index=False)['value'].size()
print("\n Group and display from size: \n",df11)
df12=df.groupby(('Name')).size()
print("\n Group and display from size: \n",df12)

 Group and display from size:
       Name  size
0      Abi     2
1  Charles     2
2   Darwin     2

 Group and display from size:
 Name
Abi        2
Charles    2
Darwin     2
dtype: int64