In [4]:
import pandas as pd
import numpy as np
from datetime import datetime

#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
         datetime(2011, 1, 5),
         datetime(2011, 1, 7),
         datetime(2011, 1, 8),
         datetime(2011, 1, 10),
         datetime(2011, 1, 12)]
#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02   -0.316043
2011-01-05   -0.015180
2011-01-07   -0.858152
2011-01-08   -0.526533
2011-01-10    0.387598
2011-01-12   -1.646362
dtype: float64

In [5]:
print("\nDate Index alone from the series: \n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [6]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [7]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)
#play like a ball with long-times series
longer_ts=pd.Series(np.random.randn(1000),
                    index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Second index:
 2011-01-07 00:00:00

Daterange up to 1000 days:
 2000-01-01    1.045384
2000-01-02    1.984419
2000-01-03    0.896688
2000-01-04   -0.449124
2000-01-05    0.068463
                ...
2002-09-22    0.958444
2002-09-23    0.368951
2002-09-24    0.685697
2002-09-25   -0.005169
2002-09-26    0.054716
Freq: D, Length: 1000, dtype: float64

In [9]:

print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01   -0.843727
2001-01-02    1.816222
2001-01-03    0.898922
2001-01-04    0.080586
2001-01-05   -0.645741
                ...
2001-12-27    0.353209
2001-12-28    0.123874
2001-12-29   -0.827747
2001-12-30   -1.703278
2001-12-31   -0.685011
Freq: D, Length: 365, dtype: float64

In [10]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01   -2.019923
2001-05-02    0.017601
2001-05-03   -0.619761
2001-05-04   -0.091746
2001-05-05   -0.266297
2001-05-06   -0.950761
2001-05-07    0.579809
2001-05-08    0.746473
2001-05-09    0.716636
2001-05-10    2.264825
2001-05-11    0.775883
2001-05-12    0.606029
2001-05-13   -1.206864
2001-05-14   -0.553071
2001-05-15   -0.534531
2001-05-16   -0.595502
2001-05-17    0.690469
2001-05-18   -0.278710
2001-05-19   -0.500225
2001-05-20   -0.357968
2001-05-21    0.244225
2001-05-22    0.690677
2001-05-23    1.272813
2001-05-24   -0.072767
2001-05-25    0.385119
2001-05-26    0.013075
2001-05-27    1.170122
2001-05-28    0.422230
2001-05-29   -1.197532
2001-05-30    0.405455
2001-05-31    1.309830
Freq: D, dtype: float64

In [11]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01   -0.337879
2000-01-02   -1.254381
2000-01-03    1.143406
2000-01-04    1.301985
2000-01-05   -1.537996
Freq: D, dtype: float64

In [12]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01    0.618680
2000-02-02   -0.891603
2000-02-03    1.136774
2000-02-04   -1.312026
2000-02-05   -0.582445
2000-02-06    0.729813
2000-02-07   -0.837119
2000-02-08    0.244477
2000-02-09    0.686328
2000-02-10   -0.939687
2000-02-11    0.119379
2000-02-12    1.175890
2000-02-13    0.131715
2000-02-14    1.252684
2000-02-15   -0.977386
Freq: D, dtype: float64

In [13]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26    1.672354
2000-09-27   -1.681587
2000-09-28    2.208906
2000-09-29   -0.599433
2000-09-30    0.191283
                ...
2002-09-22    0.238311
2002-09-23   -0.155298
2002-09-24    0.777903
2002-09-25    1.064376
2002-09-26    1.436368
Freq: D, Length: 731, dtype: float64